* {
    margin: 0;
    padding: 0;
}
@media (max-width: 485px){
body {
    background-color: rgb(4, 4, 43);
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    
}
}


.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color:rgb(255, 242, 242)/* rgb(51, 51, 92)*/;
}


.nav ul {
    display: flex;
    justify-content: center;
}

.nav ul li {
    list-style: none;
    margin: 0 23px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.nav ul li a:hover {
    color: rgb(104, 104, 165);
    font-size: 1.03rem;
    text-decoration: underline;
}

main hr {
    border: 0;
    background: rgb(45, 51, 107);
    height: 1.2px;
    margin: 40px 84px;
}


.left {
    font-size: 1.3rem;
    color: white;
}


@media only screen and (max-width: 425px){
    .firstSection{
        flex-direction: column;
    }
}



.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0px;
}



.firstSection>div {
    width: 35%;
}

.leftSection {
    font-size: 3rem;

}
.leftSection .button{
    padding: 50px 0px;
}
.leftSection .btn {
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.rightSection {
    display: flex;
    width: 80%;
}

.purple {
    color: blueviolet;
}

#element {
    color: blueviolet;
}
 
.secondSection {
   /* margin-left: 119.094px;
    margin-right: 119.094px;*/
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

@media (min-width: 485px) {
    .main-container {
      padding: 10px;
    }
  }
  


.secondSection h1 {
    font-size: 1.9rem;
}

.secondSection .box {

    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {

    height: 93px;
    width: 1px;
    background-color: white;
  margin: 0 100px;
}

.text-gray {
    color: gray;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 15px;
}
.vertical-desc{
    position: relative;
    top: 86px;
    color: grey;
    width: 150px;
    font-size: 12px;
}
footer{
    background-color: #E6E9AF;
    color: black;
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer div{
    width: 223px;
}
footer .footer-rights{
    text-align: center;
}